*{
    margin:0;
    padding: 0;
}

#cabecalho{
    height: 15vh;
    width: 100vw;
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
}

/* ------------------------------ */

.cor1{
    background-image: linear-gradient(to right, #e05b90, #f87b75, #f9a567, #eace75, #d3f49f) !important;
}
.cor1 a{
    color: white;
}
.cor1 a:hover{
color:#f4e79f;
}
.cor1 a:active{
    color:#f4e79f;
}

/* ------------------------------ */

.cards a:hover{
    color: white;
    background-color: #c8ec8d;
}
.cards b:hover{
    color: white;
}

/* ------------------------------ */

.cor2{
    background-image: linear-gradient(to right, #fccce8, #edcdfc,#c4d9f8,#c3f1f7,#e9ffc7, #eaffc3) !important;
}

.cor2 a{
    color:#ffffff;
}
/* ------------------------------ */
#pagina1{
    width: 100vw;
    height: auto;
}
/* ------------------------------ */

.cor3{
    background-image: linear-gradient(to right, #955be0, #75b9f8, #67f9e1, #75eab3, #b7f49f) !important;
}
.cor3 a{
    color: white;
}
.cor3 a:hover{
color:#9feaf4;
}
.cor3 a:active{
    color:#9ff4ad;}